{% extends 'base.html' %}

{% block content %}
<h2>{% block title %}Free Online Courses{% endblock %}</h2>

    <body>

            <h4><strong>14 Sites for Free Online Education</strong></h4>
            <ol>
                <li>
                    <a href="https://www.coursera.org/">Coursera</a>
                </li>
                <li>
                    <a href="https://www.edx.org/">edX</a>
                </li>
                <li>
                    <a href="https://cs50.harvard.edu/x/">CS50 Harvard Univeristy</a>
                </li>
                <li>
                    <a href="https://www.khanacademy.org/">Khan Academy</a>
                </li>
                <li>
                    <a href="https://www.udemy.com/">Udemy</a>
                </li>
                <li>
                    <a href="https://alison.com/">Alison</a>
                </li>
                <li>
                    <a href="https://ocw.mit.edu/">MIT OpenCourseWare</a>
                </li>
                <li>
                    <a href="https://online.stanford.edu/">Stanford Online</a>
                </li>
                <li>
                    <a href="https://www.codecademy.com/">Codecademy</a>
                </li>
                <li>
                    <a href="https://www.freecodecamp.org/">freeCodeCamp</a>
                </li>
                <li>
                    <a href="https://www.w3schools.com/default.asp/">w3schools</a>
                </li>
                <li> 
                    <a href="https://eict.iitr.ac.in/">ict iitr</a>
                </li>
                <li>
                    <a href="https://ict.iitk.ac.in/">ict iitk</a>
                </li>
                <li>
                    <a href="https://nptel.ac.in/">NPTEL</a>
                </li>
            </ol>

    </body>
{% endblock %}