{% extends 'base.html' %}

{% block content %}
<h2>{% block title %}Free Softwares Download{% endblock %}</h2>

    <body>

        <div class="container-fluid">

            <ul class="m-3 nav">
                <li class="nav-item">
                    <a class="nav-link text-dark" href="https://4download.net">Softwares Download Link1</a>
                </li>
                <li class="nav-item ms-auto">
                    <a class="nav-link text-dark" href="https://getintopc.com">Softwares Download Link2</a>
                </li>
            </ul>

            <div class="text-center">

                
                <img alt="Logo" class="lnXdpd" height="164" src="https://res.cloudinary.com/famzz/image/upload/v1655743125/famz_2_evgmgz.gif">

               
                <form action="https://www.google.com/search" class="mt-4" method="get">
                    <input autocomplete="off" autofocus class="form-control form-control-lg mb-4 mx-auto w-50" name="q" placeholder="Software Name 'index'" type="search">
                </form>

            </div>

        </div>

    </body>
{% endblock %}